  <head>
    <!-- Basic meta elements -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type"    content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Canonical link to help search engines -->
    <link rel="canonical"     href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/static/favicon.ico" />
    <link rel="alternate"     type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml" />
    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Playfair+Display+SC&amp;display=swap" />
    <link rel="stylesheet"    href="{{ site.baseurl }}/static/style.css" />

    <title>{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</title>

    <!-- Dublin Core metadata for Zotero -->
    <meta name="DC.title"   content="{{ page.title }}" />
    <meta name="DC.creator" content="{{ page.author }}" />
    <meta name="DC.date"    content="{{ page.publication-date }}" />
    <meta name="DC.source"  content="{{ site.title }}" />

    <!-- Open Graph metadata -->
    <meta property="og:type"           content="article" />
    <meta property="og:title"          content="{{ page.title }}" />
    <meta property="og:article:author" content="{{ page.author }}" />
    <meta property="og:description"    content="{{ site.description }}" />
    <meta property="og:url"            content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:image"          content="{{ site.url }}{{ site.baseurl }}/static/open-graph-logo.png" />
    <meta property="og:image:width"    content="200" />
    <meta property="og:image:height"   content="200" />

    <!-- Load MathJax -->
  <script type="text/javascript" async 
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js">
  </script>

  <script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']], // Inline math
      displayMath: [['$$', '$$'], ['\\[', '\\]']], // Display math
      macros: {
        // ip: "\\langle #1 | #2 \\rangle",  // Inner product macro
        // dyad: "\\ket{#1} \\bra{#2}"       // Bra-ket notation macro
      }
    },
    loader: { load: ['[tex]/ams'] },
    startup: {
      ready: () => {
        console.log('MathJax is loaded and ready!');
      }
    }
  };
  </script>

  <style>
  .mjx-math {
    font-size: 1.15em; /* Adjust MathJax font size */
  }
  </style>
</head>
